<!DOCTYPE html>

<html lang="en">
<head>
	<title>Lakers Greats</title>
	<link rel="icon" href="../images/lakers.ico">
	<link rel="stylesheet" href="../styles/normalize.css">
	<link rel="stylesheet" href="../styles/main.css">
</head>

<body>

  <header>
  	<img src="../images/lakers2.png" alt="Lakers Logo" width="85">
    <h1>Los Angeles Lakers Greats</h1>
    <h2>The Most Talented Players to Ever Wear the Purple and Gold!</h2>
  </header>
  
  <nav id="nav_menu">
	<ul>
		<li> <a href= "../index.html" class= "current"> Home </a> </li>
		<li> <a href= ""> Players </a> 
			<ul>
				<li> <a href= ""> Kobe Bryant </a> 
					<ul id="kobe_menu">
						<li> <a href= ""> Videos </a> </li>
						<li> <a href= ""> Stats </a> </li>
					</ul>
				</li>
				<li> <a href= ""> Magic Johnson </a>
					<ul id="magic_menu">
						<li> <a href= ""> Videos </a> </li>
						<li> <a href= ""> Stats </a> </li>
					</ul>		
				</li>
				<li> <a href= ""> Kareem Abdul-Jabbar</a>
					<ul id="kareem_menu">
						<li> <a href= ""> Videos </a> </li>
						<li> <a href= ""> Stats </a> </li>
					</ul>		
				</li>
				<li> <a href= ""> Shaquille O'Neil </a> 
					<ul id="shaq_menu">
						<li> <a href= ""> Videos </a> </li>
						<li> <a href= ""> Stats </a> </li>
					</ul>						
				</li>
				<li> <a href= ""> Wilt Chamberlain </a> 
					<ul id="wilt_menu">
						<li> <a href= ""> Videos </a> </li>
						<li> <a href= ""> Stats </a> </li>
					</ul>	
				</li>
			</ul>
		</li>
		<li> <a href= ""> History & Records </a> 
			<ul>	
				<li> <a href= ""> Retired Jerseys </a> </li>
				<li> <a href= ""> Team Records</a> </li>
			</ul>
		</li>
	</ul>
  </nav>
  
  
  <main>
	<aside>
		<nav id="nav_list">
   		<ul>
   			<li><a href=""> </a></li>
   			<li><a href=""> </a></li>
   			<li><a href=""> </a></li>
   			<li><a href=""> </a></li>
		</ul>
		</nav>
	</aside>
	<section>
		text
	</section>
	<aside id="right_aside">
		text
	</aside>
  </main>

  <footer>
	<p>&copy; 2018 Jarod Burchill</p>
  </footer>
</body>
</html>